*{
    margin: 0%;
    padding: 0%;
}
#main-container{
    display: flex;
    margin-top: 80px;
    gap: 140px;
    font-family:'Montserrat', sans-serif;
    /* border: 1px solid red; */
}
#leftside{
    margin-top: 10px;
    /* border: 1px solid red; */
}
#image-top{
    font-family:'Montserrat', sans-serif , bold;
    letter-spacing: 1px;
    line-height: 1.33;
    font-weight:bold ;
    text-align: center;
    font-size: 30px;
    color: #000;
    padding-bottom: 28px;
    margin-top: 0px;
    margin-bottom: 50px;
}
#left-image{
    padding: 30px 30px;
    width: 100%;
    background-image: linear-gradient(0deg,#fff4c4,#fff);
} 
#rightside{
    width: 40%;
    text-align: center;
    /* border: 1px solid red; */
}
#top-text :nth-child(1){
    font-size: 24px;
    color: #333;
    margin-top: 25px;
    /* border: 1px solid red; */
    text-align: center;
    text-rendering:auto;
    letter-spacing: 1px;
}
#top-text :nth-child(2){
    text-align: center;
    text-rendering:auto;
    letter-spacing: 1px;
    font-family: montserrat,sans-serif;
    font-size: 18px;
    color: #a0a0a0;
    margin-top: 22px;
    line-height: 1.44;
}
#input-box{
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 70px;
}
#input-container{
    margin-bottom: 10px;
}
.txtbox{
    outline: none;
    padding: 20px;
    width: 405px;
    font-size: 16px;
    border-radius: 5px;
    /* color:#a0a0a0; */
    font-weight: bold;
    color: #000;
    border: .5px solid #979797;
    /* margin-bottom: -20px; */
}
#btn{
    margin-top: 20px;
    padding: 20px 158px;
    border-radius: 5px;
    outline: none;
    letter-spacing: .5px;
    background-color: #42a2a2;
    border: none;
    color: #fff;
    letter-spacing:1px;
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 43px;
}
#hrOR{
    font-size: 16px;
    text-align: center;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    padding: 0 7px;
}
hr{
    margin: 0 0 -11px;
    background: #cecece;
    margin-left: 10%;
    width: 80%;
    text-align: center;
}
#bottom-links{
    /* margin-top: 40px; */
    width: 100%;
    margin:auto;
    padding-left: 10px;
    margin-top: 35px;
    justify-content: center;
    text-align: center;
    /* border: 1px solid red; */
}
.btn-icon{
    width: 20px;
}
#email-btn{
    display: flex;
    margin: auto;
    gap: 10px;
    width: 64%;
    height: 39px;
    border-radius: 5.8px;
    border: 1px solid #aeaeae;
    background: #fff;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: bold; 
    letter-spacing: 1px;
    font-family: montserrat-bold,sans-serif;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 20px;
}
#google-fb-btn{
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 10px;
}
#google-btn , #facebook-btn{
    width: 31.5%;
    display: flex;
    height: 39px;
    /* margin: auto; */
    gap: 10px;
    text-align: center;
    justify-content: center;
    padding: 12px 0px 0px 0px;
    border: 1px solid #aeaeae;
    background: #fff;
    color: #5c5c5c;
    border-radius: 5.8px;
    font-size: 16px;
    font-weight: bold; 
    letter-spacing: 1px;
    font-family: montserrat-bold,sans-serif;
    text-transform: uppercase;
}
#terms{
    width: 70%;
    margin: auto;
    font-size: 13px;
    font-family: montserrat-regular,sans-serif;
    color: #a0a0a0;
    line-height: 20px;
    margin-top: 30px;
    text-align: left;
}
#terms > a{
    text-decoration: none;
    color: #42a2a2;
    font-weight: bold;
    /* text-align: left; */
}
#showerror{
    color: #db3236;
    margin-left: 155px;
    /* margin-top: -10px; */
    font-family:'Montserrat', sans-serif;
    font-style: italic;
    font-size: 14px;
}