*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Montserrat";
}
#box1{
    width: 100%;
    margin: auto;
}
#box1 >a>img{
    width: 100%;
    margin: auto;
}
#box2{
    width: 100%;
    margin-top: -4px;
    height: 60px;
    background-color: black;
    position: sticky;
    top: -1px;
    z-index: 999;
    display: flex;
    justify-content: center;
}
#box2 :nth-child(2){
    color: black;
    background-color: white;
}
#box2 > a{
    max-height: 56px;
    min-width: 100px;
    margin-top: 2px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 15px 0 0 0;
    text-decoration: none;
    font: 16px "montserrat", sans-serif;;
    font-weight: 700;
    cursor: pointer;
}
#box2 > a:hover{
    color: black;
    background-color: white;
}
#box3{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    width: 100%;
    margin: auto;
}
#box3 > img{
    width: 100%;
}
#box4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
}
#box4 > img , #box5 > img{
    width: 100%;
}
#box6{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}
#box6 > img{
    width: 100%;
}
#box7{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
#box7 > img{
    width: 100%;
}