body{
  font-family: "montserrat" ;
  text-size-adjust: 100%;
  outline: none;
}
* {
  font-family: "montserrat" ;
    margin: 0;
    padding: 0;
    outline: none;
  }
  #onlynav{
    position:sticky;
    top: 0;
    background-color: white;
    z-index: 10;
  }
  ::-webkit-scrollbar{
    width: 6px;
    color: #000;
    /* border: 1px solid red; */
}
::-webkit-scrollbar-thumb{
    background-color: #fdd835;
    border-radius: 5px;
}
  /* #topnav {
    width: 100%;
    height: 20px;
    background-color: rgb(238,238,238);
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 6;
  }
  .topnavclass a{
    text-decoration: none;
    color:black;
    font-size: 12px;
    padding: 0 5px;
  }
  .topnavclass a  i{
    padding-right: 3px;
  }
  #nav {
    width: 100%;
    border-bottom: 1px solid black;
    position: sticky;
    top: 20px;
    height: 50px;
    margin-bottom: 10px;
    z-index: 25;
    background-color: white;
    display: flex;
    justify-content: space-around;
    
  }
  #nav>div{
    padding-top: 10px;
  }
  #nav>div i{
    padding-top: 10px;
  } */
  #main {
    padding: 0 100px;
    /* border: 1px solid teal; */
  }
  #nav2 {
    width: 100%;
    height: 30px;
    font-family: "montserrat";
    font-size: 12px;
    margin-top: 15px;
    color: #2d2d2d;
    word-spacing: 5px;
    padding-left: 12px;
  }
  /* #heading{
        border: 1px solid teal;
        padding-top: 25px;
       
    } */
    
    
  #heading {
    padding-top:20px;
    margin-bottom: 40px;
    padding-left: 10px;
  }
  #heading > h1 {
    width: 20%;
    font-size: 25px;
    border-bottom: 3px solid rgb(245, 245, 10);
  }
  #box {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 2.5fr 7.5fr;
  }
  /* #box > div {
    border: 1px solid teal;
  } */

  #colordiv {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  #colordiv > div {
    height: 16px;
    width: 18px;
    
    margin-bottom: 5px;
   
    /* background-color: red; */
  }
  #colorblack{
    background-color: black;
    border:2px solid white;
    /* color: rgb(158 158 160); */
  }
  #colorred{
    background-color: red;
    border:2px solid white;
  }
  #colorgreen{
    background-color: green;
    border:2px solid white;
  }
  #colorblue{
background-color: blue;
border:2px solid white;
  }
  #sort{
    
    display: flex;
  justify-content: end;
    /* border: 2px solid green; */
  }
  #sort select{
    border: none;
    font-size: 12px;
    padding: 15px;
    outline: none;
  }
 
  #filters{
    position: sticky;
    max-height: 450px;
    top: 70px;
    padding:0 12px;
  }
  #filters p,#sort p{
    font-weight: bold;
    font-size: 12px;
    color:rgb(158,158,160) ;
    margin-right: 4px; 
    /* margin-bottom: 30px; */
    padding: 15px 0;
  }
  #filters>div:first-child{
    display: flex;
    justify-content: space-between;
  }
  #filters p{
    text-transform: uppercase;
  }
  #filters p:nth-child(2){
    cursor: pointer;
  }
  .filtermain{
    display: flex;
    justify-content: space-between;
  }
  .filtermain i{
    cursor: pointer;
   margin-top: 15px;
  }
  .filtername{
    padding: 15px 0px;
  }
  .cate{
    cursor: pointer;
  }
  #categoryclass,#sizeclass,#colordiv,#ratingclass,#typeclass{
    overflow: hidden;
    height: 0px;
    /* margin-bottom: 5px; */
    border-bottom: 1px solid RGB(244 244 244);
  }
  #categoryclass>div,#sizeclass>div,#ratingclass>div,#typeclass>div{
    padding: 8px;
    color: rgb(158 158 160);
    font-size: 12px;
  }
  /* #mainandsort{
    display: block;
  } */
  #container{

  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 15px;
  /* height: 700px; */
  }


  /* #search input{
    padding: 15px;
width: 100%;
height: 30px;
  }
  #suggestions{
    position: absolute;
   width: 100%;
   
   font-size: 12px;
   background-color: white;
  } */
 
  #container>div{
    display: grid;
    /* border: 1px solid teal; */
    height: 100%;
    position: relative;
  }
  #container>div>div:first-child{
    /* border: 1px solid green; */
    height: 75%;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.6s;
    -o-transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
  }
  #container>div>div:first-child img{
    width: 100%;
    display: block;
    border-radius: 5px;
   
  }
  #container>div>div:first-child:hover{
    transform: scale(1.05);
    -o-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    z-index: 2;
}
#container>div>div:nth-child(2){
    /* height: 25%; */
    padding: 5px;
    display: flex;
   /* flex-direction: column; */
   justify-content: space-between;
   /* border: 1px solid red; */
   margin-top: 5px;
}
#container>div>div:nth-child(2)>div:last-child{
  color: rgb(255,212,59);
}
#container>div>div:nth-child(2)>div:first-child>div:nth-child(1){
    font-weight: 800;
    }
#container>div>div:nth-child(2)>div:first-child>div:nth-child(2){
font-size: 12px;
color:rgb(168,168,171) ;
}
#container>div>div:nth-child(2)>div:first-child>div:nth-child(3){
    display: flex;
  
}
#container>div>div:nth-child(2)>div:first-child>div:nth-child(3)>div{
  margin-left:4px;
}
#container>div>div:nth-child(2)>div:first-child>div:nth-child(3)>div:first-child{
    font-weight: bold;
}
#container>div>div:nth-child(2)>div:first-child>div:nth-child(3)>div:last-child{
    font-size: 12px;
    padding-top: 4px;
    text-decoration: line-through;
    color:rgb(168,168,171);
}
#container>div>div:nth-child(3){
    padding-left: 5px;
    background-color: rgb(247,247,247);
    font-weight: bold;
    font-size: 12px;
    width: 60%;
    border-radius: 5px;
    margin-bottom: 7px;
    
}

#container>div>div:nth-child(4)>button{
   cursor: pointer;
    text-transform:uppercase ;
    width: 100%;
    border: none;
    background-color: rgb(255,216,77);
     margin: auto;
    text-align: center;
    transition: 0.3s;
    
}
#container>div>div:nth-child(4)>button:focus,#container>div>div:nth-child(4)>button:hover,#container>div>div:nth-child(4)>button:active{
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);  
 -webkit-transform: scale(1.1); 
 transform: scale(1.1);
}
#container>div>div:nth-child(4)>button i{
    padding: 10px; 
    
}
#showwishimage{
  color:rgb(255,216,77);
}
#showcart{
  position: relative;
  display: flex;
  margin-left: 15px;
}
#showcartnumber{
  position: absolute;
  top: -11px;
  left: 7px;
  /* height: 30%;
  width: 70%; */
  font-size: 11px;
  text-align: center;
  color: black;
  border-radius:50% ;
  background-color:rgb(255,216,77) ;
  padding: 1px 3px;
  font-weight: bold;
}
#ratediv{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  background-color: white;
 padding: 0px 7px;
 color: rgb(147,140,122);
}
#ratediv i{
  color: rgb(250,208,59);
  margin-left: 3px;
}

.changeContainer{
border: 1px solid teal;
}

#sorry{
  
width: 80%;
  margin:auto;
  text-align: center;
 display: block;
 margin-top: 70px;
}
#sorry:nth-child(1){
  font-family: "Montserrat",sans-serif;
  font-size: 24px;
 
}
#sorrybtn{
  width: 35%;
  /* text-align: center; */
  margin: auto;
  margin-top: 15px !important;
  font-family: "Montserrat",sans-serif;
  font-size: 16px;
  color: #51cccc;
  border-radius: 2px;
  border: 1px solid #51cccc;
  /* padding: 7px 14px; */
  line-height: 30px;
  background-color: white;
  margin-top: 20px;
  /* text-align: center; */
  padding-left:110px !important;

  cursor: pointer;
}
#sorrybtn:hover{
  color:white;
  background-color:#51cccc ;
}
#loadingdiv{
  width: 22%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -40%);
  /* display: none; */
  }
  #loadingdiv img{
    border-radius: 8px;
    width: 100% ;
    height: 110px;
  }
@media screen and (max-width:980px) {
  
  #container{
    grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:650px) {
  #filters{
    display: none;
  }
  #container{
   width:100%;
    }
}
@media screen and (max-width:480px){
  #container{
    grid-template-columns: repeat(1,1fr);
    width:100%;
    }
}