
body{
    background-color: rgb(21, 20, 20);
    font-family: sans-serif;
}

#container-footer {
    width: 100%;
    margin: auto;
    line-height: 12px;


}

.container-grid a{
    color: white;
    text-decoration: none;
}
#container-footer>h1{
   color: #fdd835;
    

}

.container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin: auto;

}
.fa-brands{
    background-color: white;
}

.container-grid h4 {
    color: #fdd835;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}

.container-grid h4+input {
    border: none;
    border-bottom: 1px solid yellow;
    background-color: black;
    height: 30px;
}

.container-grid .subscribe-button {

    background-color: yellow;
    border: none;
    color: black;
    height: 30px;
    width: 100px;
}

#container-grid p ,.container-grid p  {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    font-family:  sans-serif;
}

.headings h4 {
    color:
        #b2e7ed
}

#store-images {
    display: flex;
    width: 80%;
}

#store-images>div {

    flex: 1;
    height: 30px;
    margin: 2px;

}

#store-images>div img {
    width: 100%;
    height: 100%;
}

#footer-lastpara p,#footer-lastpara h3{

    font-family: "montserrat", sans-serif;;

font-weight: 400;
font-size: 15px;
line-height: 20px;
color: rgba(255, 255, 255, 0.9);

}
#footer-lastpara h3{

    font-family: "montserrat", sans-serif;;

    font-weight: 700;
    font-size: 17px;
  
    
    }

/* footer part media queries */


@media screen and (min-width:0px) and (max-width:375px) {

    .container-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: auto;

    }

    .headings {
        display: flex;


    }

    .headings h4 {

        margin: 5px;

    }



}

@media screen and (min-width:375px) and (max-width:765px) {

    .container-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: auto;

    }



}
h1{
    margin-bottom: 2%;
}
p{
    line-height: 20px;
    font-size: 16px;
    font-family: "montserrat", sans-serif;
}
h4{
    line-height: 20px;
}
#container-footer hr{
    /* border: 1px solid red;
    background-color: blue; */
    margin: 4% 0;
}
.headings>h4{
    line-height:20Px ;
    /* border:2px solid rgb(74,172,143); */
    padding:5px 0;
    
}
.headings>h4>a{
    color:rgb(74,172,143);
    font-weight: bold;

}
#footer-lastpara p{
    /* border:2px solid white; */
    line-height: 25px;
    font-size: 18px;
    margin:2% 0;


}